@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: $content-bg-dark;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.disable {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}
