// colos
$content-bg-dark: #1b1c22;
$nav-bg-dark: #23242a;
$primary-color: #007bff;
$secondary-color: #ff4757;
$rate-star-color: #ffd32a;

// screen sizes
$small-mobile-screen: 320px;
$mid-mobile-screen: 400px;
